extends layout

block content

  h2 Introducing Trend Micro Cloud One

  img(src="/img/cloudone.png" alt="Cloud One Hospital" class="frontpageBannerImg marginBottom marginTop")

  p Trend Micro Cloud One, a security services platform for organizations building in the cloud, delivers the broadest and deepest cloud security offering in one solution, enabling you to secure your cloud infrastructure with clarity and simplicity.
  
  p By considering your cloud projects and objectives holistically, Trend Micro Cloud One is able to provide powerful security, while you leverage all of the benefits and efficiencies the cloud offers your business. Comprised of multiple services designed to meet specific cloud security needs, Trend Micro Cloud One gives you the flexibility to solve your challenges today, and the innovation to evolve with your cloud services in the future.

  p You no longer have to find point products to meet the unique requirements of your infrastructure or work with the processes you’ve already implemented. With a comprehensive set of services, designed specifically for the cloud, Trend Micro Cloud One secures the different parts of your environment within one simple platform.

  p With support for all major cloud platforms, and solutions that integrate directly into your DevOps processes and toolchain, Trend Micro Cloud One is designed to provide the flexibility you need without slowing down your business or application delivery.
 
  h3 One product for all your cloud security needs
 
  p Get streamlined with a complete set of workload security capabilities and protect your cloud-native applications, platforms, and data in any environment with a single agent.

  ul
    li Proactively defend against network threats with intrusion prevention and firewall
    li Protect against vulnerabilities with virtual patching
    li Lockdown your systems and get alerts about unplanned system changes with application control, integrity monitoring and log inspection