extends layout

block content
  h4 One product for all your cloud security needs

  p Get streamlined with a complete set of workload security capabilities and protect your cloud-native applications, platforms, and data in any environment with a single agent.

  ul
    li Proactively defend against network threats with intrusion prevention and firewall
    li Protect against vulnerabilities with virtual patching
    li Lockdown your systems and get alerts about unplanned system changes with application control, integrity monitoring and log inspection