extends layout

block content
    div.displayInline.col-sm-4.col-md-4.col-lg-4
      span.displayInline.marginTop.marginBottom
        span.siteGradient.alert.marginRight NEW
        span We've Increased Our Security
        span
          img(src="/img/right_arrow_grey.svg")
 
      div.frontpageBannerText.marginBottom Welcome to TM Health Care Center
    
      div.frontpageBannerDescription.marginBottom Due to COVID-19, please refrain from coming in if you are feeling any flu-like symptoms.
    
      a(href="/login")
        button(type="button" class="siteGradient callToActionButton marginBottom" ) Please Login

    div.displayInline.floatRight.allZero.col-sm-7.col-md-7.col-lg-7
      //- div.bgGradientShape
      //- span.frontpageBgParallelogram    
      img(src="/img/hospital.jpg" alt="Cloud One Hospital" class="frontpageBannerImg")


