doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
    //- script(src="/javascripts/s3-client-upload.js")
    script(src="/javascripts/bootstrap.min.js")

    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/default.css')
    link(rel='stylesheet', href='/stylesheets/siteHeaders.css')
    link(rel='stylesheet', href='/stylesheets/siteAlert.css')
    link(rel='stylesheet', href='/stylesheets/frontpageBanner.css')

    link(rel="icon" type="image/png" href="/img/favicon.ico")

    header.container-fluid
      nav
        ul.nav
          li.active
            a(href="https://www.trendmicro.com/en_ca/business.html")
              img.siteLogo(src="/img/tm-logo-desktop.png" alt="Cloud One Logo")
          li
            a(href="/") HOME
          li
            a(href="/welcome") WELCOME
          li
            a(href="/aboutus") ABOUT US
          li
            a(href="/environment") ENVIRONMENT
          li
            a(href="/attacks") ATTACKS
          li
            a(href="/links") LINKS
          li
            a(href="/differentvertical") DIFFERENT VERTICAL

          button.linkButton.siteGradient
            a(href="https://cloudone.trendmicro.com/" target="_blank") CONTACT US
            
  body
    block content
