extends layout

block content
  
  div.noStyle
    ul
      li.container-fluid
        a.displayInline(href="https://www.trendmicro.com/en_ca/business.html") Trend Micro Website
        img.displayInline.marginLeft.icon(src="/img/external-link-symbol.svg")
    ul
      li.container-fluid
        a.displayInline(href="https://www.trendmicro.com/en_ca/business/products/hybrid-cloud.html") CloudOne
        img.displayInline.marginLeft.icon(src="/img/external-link-symbol.svg")

    ul
      li.container-fluid
        a.displayInline(href="https://www.trendmicro.com/en_ca/business/products.html") Products
        img.displayInline.marginLeft.icon(src="/img/external-link-symbol.svg")