extends layout

block content
  ul
    li.container-fluid
      a(href="https://www.trendmicro.com/en_ca/business.html") Trend Micro Website
  ul
    li.container-fluid
      a(href="https://www.trendmicro.com/en_ca/business/products/hybrid-cloud.html") CloudOne

  ul
    li.container-fluid
      a(href="https://www.trendmicro.com/en_ca/business/products.html") Products