extends layout

block content

  h3 Welcome to the Cloud One integrated demo platform. 
  
  p This platform can be used to Demo, multiple cloud one products at once. This is version 1 and has certain limitations.  Currently, this demo shows Application security and Workload security, due to limitations on products. 

  p Version 1 (Current) –
  
  ul
    li Cloud One - Application Security – Currently available
    li Cloud One - Workload Security – Currently available

  p Version 2 –
  
  ul 
    li Cloud One - Conformity – Development has started 
    li Cloud One - File Storage Security – Development has started, facing some road blocks
    li Cloud One - Network Security – Waiting on the preview release

  p Version 3 –
  
  ul
    li Cloud One - Container Security 