extends layout

block content

  h2 Welcome to the Cloud One Integrated Demo platform.
  
  p.marginTop This platform can be used to Demo, multiple cloud one products at once. 

  img.frontpageBannerimg.marginTop.marginBottom.floatRight(src="/img/cloudimage.png" alt="Cloud One Services")

  p.marginTop Version 1 
  
  ul
    li.marginTop Cloud One - Application Security –  Available
    li.marginTop Cloud One - Workload Security –  Available

  p.marginTop Version 2 
  
  ul 
    li.marginTop Cloud One - Conformity – Integrated with the Cloud environment
    li.marginTop Cloud One - File Storage Security –  Available
   
  p.marginTop Version 3 - <U><strong>Current</strong></U>
  ul
    li.marginTop Cloud One - Network Security – Preview released currently testing
    li.marginTop Cloud One - Container Security - Implementation in process

  p.marginTop <B><I>Upcoming</I></B>
  i
    ul
      li.marginTop Auto-remediation
      li.marginTop Container protection inside Workload
      li.marginTop GCP Workloads
      li.marginTop AWS Lambda functions
      li.marginTop Misconfigurations for Conformity  
 