extends layout

block content

  h2 Welcome to the Cloud One Integrated Demo platform.
  
  p.marginTop This platform can be used to Demo, multiple cloud one products at once. This is version 1 and has certain limitations.  Currently, this demo shows Application security and Workload security, due to limitations on products. 

  img.frontpageBannerimg.marginTop.marginBottom.floatRight(src="/img/cloudimage.png" alt="Cloud One Services")

  p.marginTop Version 1 (Current) –
  
  ul
    li.marginTop Cloud One - Application Security – Currently available
    li.marginTop Cloud One - Workload Security – Currently available

  p.marginTop Version 2 –
  
  ul 
    li.marginTop Cloud One - Conformity – Development has started 
    li.marginTop Cloud One - File Storage Security – Development has started, facing some road blocks
    li.marginTop Cloud One - Network Security – Waiting on the preview release

  p.marginTop Version 3 –
  
  ul
    li.marginTop Cloud One - Container Security 