.callToActionButton { 
    color: white;
    font-weight: 700;
    padding: 1rem 3rem;
    border: 0;
    border-radius: 0.5rem;
    font-size: medium;
}

.frontpageBannerText {
    font-weight: 900;
    font-size: 3.25rem;
    line-height: 3.25rem;
    color: blue;
}

.frontpageBannerDescription {
    font-weight: 500;
    font-size: large;
    color: blue;
}

.frontpageBgParallelogram {      
    height: 100%;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30rem;
    height: 30rem;
    transform: skew(-35deg);
    background: linear-gradient(360deg, rgba(237,50,166,1) 0%, rgba(182,97,218,1) 50%, rgba(119,27,213,1) 100%);
    z-index: -1;    
}

.floatRight {
    float: right;
}

/* .col-sm-1,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-12,
.col-sm-10, .container {
    border: 1px solid red;
} */

.displayInline {
    display: inline-block;
}

.frontpageBannerImg {
    max-width: 100%;
    max-height: 100%;
}