body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Tabs*/
section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#tabs{
background: #007b5e;
  color: #eee;
}

#tabs h6.section-title{
  color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #f3f3f3;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  /* border-bottom: 4px solid !important; */
  /* font-size: 20px; */
  font-weight: bold;
}

#tabs .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: #eee;
  font-size: 20px;
}

nav {
  margin-bottom: 2rem;
}

.h35r {
  height: 35rem;
}

.inline { 
  display: inline;
}

.section-title {
  font-weight: bold;
  border-bottom: 0.2rem solid #aaa;
}

.mt2 {
  margin-top: 2rem;
}

.mt3 {
  margin-top: 3rem;
}